@font-face {
    font-family: beckan;
    src: url(/font/Beckan-Personal.otf);
  }

@font-face {
    font-family: sf-pro-bold;
    src: url(/font/SFPRODISPLAYBOLD.OTF);
  }

@font-face {
    font-family: pp;
    src: url(/font/PPEditorialNew-Regular.otf);
  }

@font-face {
    font-family: pp-bold;
    src: url(/font/PPEditorialNew-Ultrabold.otf);
  }

@font-face {
    font-family: canopee;
    src: url(font/616fd1dd00cf6c70f978fc69_Canopee.ttf);
  }

@font-face {
    font-family: domain;
    src: url(font/5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
  }

@font-face {
    font-family: editorial;
    src: url(font/5f242a694256f02b944d5767_EditorialNew-Light.ttf);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    width: 100%;
    background-color: #1c1c1f;
}

#main {
    background-color: #f4f6f1;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: #f4f6f1;
    overflow: hidden;
}

.navlogo {
    font-family: canopee;
    font-size: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 28px;
}

#nav {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #1c1c1f ;
    color: #1c1c1f;
}

#nav h5 {
    font-size: 20px;
    font-weight: 100;
    font-family: sf-pro-bold;

}

#nav i {
    font-size: 20px;
    text-align: right;
}

.part1-font , .part3-font , .backen {
    font-family: canopee;
    color: #1c1c1f;
}

.part1-font , .part3-font {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #1c1c1f;
    letter-spacing: 3px;

}

.fonts{
    font-family: pp;
}

#parts {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#part1 {
    width: 30%;
    height: 100%;
    position: flex;

}

#part2 {
    width: 25%;
    height: 100%;
    position: flex;
    border-right: 2px solid #1c1c1f;
    border-left: 2px solid #1c1c1f;
    padding: 20px 60px;
    text-align: center;
    color: #1c1c1f;
}

#part3 {
    width: 30%;
    height: 100%;
}

#img {
    height: 60%;
    width: 100%;
    overflow: hidden;
}



#img3 {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#part1 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#part3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#part1:hover img {
    scale: 1.1;

}

#part3:hover img {
    scale: 1.1;

}

#part1 p {
    font-family: domain;
    font-size: 20px;
    color: #1c1c1f;
}

#part3 p {
    font-family: domain;
    font-size: 20px;
    color: #1c1c1f;
}

#part2 h2 {
    font-size: 50px;
    font-weight: 100;

}

#part2 h3 {
    font-size: 30px;
    font-weight: 100;
    font-family: domain;
    color: #1c1c1f;
    
}

#part2 h6 {
    font-size: 20px;
    font-weight: 100;
    font-family: domain;
    color: #1c1c1f;
    margin-top: 30px;    
}


#ryuzaki {
    background-color: #1c1c1f;
    color: #f4f6f1;
    text-align: center;
    font-size: 15vw;
    font-family: canopee;
    letter-spacing: 5;
    font-weight: 100;    
}
/* #ryuzaki {
    font-size: 750px;
    letter-spacing: -5;
    font-family: canopee;
    font-weight: 20;
    background-color: #1c1c1f;
    color: #f4f6f1;
    line-height: 600px;
    text-align: center;
    align-items: center;
    width: 96%;
    margin-left: 2%;
    padding-top: 1%;
} */

#page2 {
    height: 100%;
    width: 100%;
    background-color: #f4f6f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 40px;

}

#page2-left {
    height: 100%;
    width: 35%;
    padding-right: 50px;
    border-right: 1px solid #1c1c1f;



}

#page2-left h2 {
    display: flex;
    flex-direction: column;
    font-size: 170px;
    font-family: canopee;
    font-weight: 100;
    color: #1c1c1f;

}

#page2 h2 span {
    font-size: 170px;

}

#page2 img {
    height: 70%;
    width: 100%;
    object-fit: cover;
}

#page2 p {
    font-size: 36px;
    font-family: pp;
    color: #1c1c1f;
    padding-top: 10px;
}

#page2-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    padding: 0px 20px;
    
}
#page2-right img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

#page2-right h1 {
    height: 100%;
    width: 100%;
    font-size: 120px;
    font-family: canopee;
    font-weight: 100;
    word-spacing: -1; 
    color: #1c1c1f;

}

#page2-right h1 span {
    border-bottom: 1px solid #1c1c1f;
}

#page3 {
    height: 100%;
    display: flex;
    background-color: #f4f6f1;
    justify-content: space-between;
    padding: 2vw 2vw;

}

#page3 h1 {
    font-size: 25vw;
    letter-spacing: 10px;
    font-weight: 100;
    padding: 0px 1vw;
    font-family: CANOPEE;
    background-color: #1c1c1f;
    color: #f4f6f1;
}

#page3 img {
    height: 26vw;
    align-self: center;

}
#page4 {
    padding: 20px 0px;
    width: 100%;
    color: #1c1c1f;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #1c1c1f;
    border-bottom: 1px solid #1c1c1f;
}

#page4::-webkit-scrollbar{
    display: none;
}

#page4 h1 {
    font-size: 4vw;
    font-family: editorial;
    font-weight: 100;
    letter-spacing: 5;
    display: inline-block;
    margin-right: 30px;
    animation-name: scroll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#page4:hover {
    animation-play-state: paused;
}

#page4 span {
    background-color: #1c1c1f;
    color: #f4f6f1;
    padding: 10px 10px;
    font-family: canopee;
    padding: 0px 20px;

}
#page5 {
    height: 100px;
    background-color: #f4f6f1;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 34px));
    }

    
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    #parts{
        flex-direction: column;
        justify-content: center;
        align-content: space-around;
        padding: 20px 0px;

    }
    #part1{
        width: 90%;
        order: 2;
        padding-bottom: 30px;
    }
    #part2{
        width: 90%;
        border: #f4f6f1;
        order: 1;
        font-size: 5px;
        text-align: center;
    }
    #part3{
        width: 90%;
        order: 3;
    }
    #ryuzaki {
        font-size: 15vw;
    }
    #page2 {
        flex-direction: column;
        padding: 0px 0px;

    }
    #page2-left{
        border: #f4f6f1;
        align-content: center;
    }
    #page2-left {
        height: 100%;
        width: 100%;
        align-items: center;
        padding-right: 0px;
        padding: 0px 20px;
    }
    #abcd {
        scale: 0.4;
        flex-direction: column;
        align-items: center;
    }
    #page2 p {
        font-size: 30px;

    }
    #page2-right{
        height: 100%;
        width: 100%;
        padding: 20px 10px;
        border-bottom: 1px solid #1c1c1f;
    }
    #page2-right h1 {
        font-size: 12vw;
        flex-wrap: nowrap;

        
    }
    #page2-left {
        order: 2;
    }
    #page2-right {
        order: 1;
    }
    #page3 {
        display: none;
    }
    #page2-left h2 {
        border-top: 1px solid #1c1c1f;
        border-bottom: 1px solid #1c1c1f;
        font-size: 50vw;

    }
    #page2-left h2 span {
        font-size: 50vw;
    }

    #page2-right span {
        border-bottom: 1px solid #1c1c1f;

    }
    #page4 h1 {
        font-size: 5vw;

    }
    #page4 {
        margin-top: 5vw;
    }
}


  @media only screen and (min-width: 600px) {

    #parts {
        padding: 3vw 4vw;
    }
    #part1 img {
        height: 14vw;
    }
    #part3 img {
        height: 14vw;
    }
    #part2 {
        padding: 20px 4vw;
    }
    #part2 h2 {
        font-size: 2.5vw;

    }
    #part2 h3 {
        font-size: 1.5vw;
    }
    #part2 h6 {
        font-size: 1vw;
    }
    #part1 h3 {
        font-size: 1.7vw;
    }
    #part1 p {
        font-size: 1.2vw;
    }
    #part3 h3 {
        font-size: 1.7vw;
        
    }
    #part3 p {
        font-size: 1.2vw;
    }

    .part1-font , .part3-font {
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }
    #page2-left h2 {
        font-size: 6vw;
        border-bottom: 1px solid #1c1c1f;

    }
    #page2-left h2 span {
        font-size: 6vw;

    }
    #page2-left p {
        font-size: 1.5vw;
    }
    #page2-left img {
        height: 45vw;
    }
    #page2-right img {
        height: 45vw;
    }
    #page2-right h1 {
        font-size: 6vw;
    }
    #page2-left {
        padding-right: 3vw;
    }

    #page2-right {
        padding-left: 3vw;
    }

    #page2 {
        padding-top: 4vw;
        padding-bottom: 4vw;
    }


  }